mixin Cta 
  +Section.bg-warning-gradient.py-0
    .row.flex-center
      .col-6 
        img(src=`${CWD}assets/img/gallery/cta.png`  alt='cta')
      .col-6
        h1.fw-bold.fs-4.fs-lg-6.mb-4.text-primary  Collaborate with the
          br.d-none.d-xl-block
          | team free of cost
        a.btn.hover-top.btn-collab(href='#!') TRY FOR FREE
