mixin CtaTwo 
  section.py-0
    +Background({ image: `${CWD}assets/img/gallery/cta-2-bg.png`, attrs: { style: { 'background-position': 'center',} }, className: '' })
    .container
      .row.flex-center
        .col-6.text-center 
          img.mt-n8(src=`${CWD}assets/img/gallery/cta-2.png`  alt='cta')
        .col-6
          h1.fw-bold.fs-4.fs-lg-6.mb-4.text-white  Collaborate with the
            br.d-none.d-xl-block
            | team free of cost
          a(href='https://www.apple.com/app-store/' target="_blank").pe-2.pe-sm-3.pe-md-4
            img(src=`${CWD}assets/img/gallery/app-store.png` width='160' alt='')
          a(href='https://play.google.com/store/apps' target="_blank")
            img(src=`${CWD}assets/img/gallery/google-play.png` width='160' alt='')  
